main.svelte-cwls5q{display:flex;flex-direction:column;align-items:center;margin:0 auto}h1.svelte-cwls5q{display:flex;align-items:baseline;text-align:center}section.svelte-cwls5q{margin-bottom:var(--space_xl5)}
